@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination {
    display: flex;
    justify-content: center;
}

.page-link {
    color: black;
    float: left;
    padding: 12px 24px;
    text-decoration: none;
}

.page-next {
    display: none;
}

.page-previou {
    display: none;
}

.page-item {
    margin: 0px 8px;
}

.page-item.active {
    background-color: black;
    color: #fff;
    border-radius: 5px;
}

.pagination .page-item.active a {
    background-color: black;
    color: #fff;
    border-radius: 5px;
}

.pagination li:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}
